* {
    margin: 0;
}

body {
    background-color: #eee;
    margin: 0 auto;
}

.container {
    padding: 20px;

    font-family: 'VT323', monospace;
    background-color: white;
    border: 1px solid black;
}
.container h1{
    font-size: 70px;
}


/*------------top-----------------*/
.flex-containerTop{
    display: flex;
    background-color: white;
    
}

.boxTop {
    height: 130px;
    margin: 6px;
    
    background-color: #f9e34d;
    border: 1px solid gray;
}

.left{
    flex: 0 1 400px;
}
.right{
    flex: 0 1 900px;
    
}
/*------------top-----------------*/




/*------------middle-----------------*/
.flex-containerMiddle{
    display: flex;
    justify-content: space-between;
}

.boxMiddle{
    height: 130px;
    background-color: #f9e34d;
    border: 1px solid gray;
    margin: 6px;
}

.oneMiddle{
    flex: 0 1 250px;
}
.twoMiddle{
    flex: 0 1 250px;
    
}
.threeMiddle{
    flex: 0 1 250px;
    
}
.fourMiddle{
    flex: 0 1 250px;
    
}
.fiveMiddle{
    flex: 0 1 400px;

}
/*------------middle-----------------*/



/*------------bottom-----------------*/
.flex-containerBottom{
    display: flex;
}

.boxBottom{
    height: 370px;
    margin: 6px;

    border: solid 1px gray;
    background-color: #f9e34d;
}

.oneBottom{
    flex: 0 1 300px;
}
.twoBottom{
    flex: 0 1 400px;
}
.threeBottom{
    flex: 0 1 540px;
}
/*------------bottom-----------------*/